# Additional hosts file

## Inventory members
{% for host in groups['pis'] %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}

## Control plane DNS entry
{{ apiserver_vip }} {{ control_plane_endpoint }}

## Additional entries
{% for entry in dnsmasq_addn_hosts_list %}
{{ entry }}
{% endfor %}